<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Manager</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="/tasks">
          <h1>Task Manager</h1>
        </a>
      </div>
      <div class="menu">
        <a href="/tasks">Tasks</a>
        <a href="/tasks/add"><div class="create">Create Task</div></a>
      </div>
    </nav>
    <div class="wrapper">
      <div class="taskContent">
        <p class="heading">Your task</p>
          <h2>
            <%=task.title%>
          </h2>
            <p class="description">
              <%=task.description%>
            </p>
        <div class="edit">
          <a class="update" data-doc="<%=task._id%>">Mark Complete</a>
          <a class="delete" data-doc="<%=task._id%>">Delete</a>
        </div>
      </div>
    </div>
      <script>
        const update = document.querySelector('a.update');
        update.addEventListener('click', (e) => {
          const endpoint = `/tasks/${trashcan.dataset.doc}`;

          fetch(endpoint, {
            method: 'PUT'
          })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err));
        });

        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
          const endpoint = `/tasks/${trashcan.dataset.doc}`;

          fetch(endpoint, {
            method: 'DELETE'
          })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err));
        })
      </script>
  </body>
</html>